body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.tittle{
	color: #cde1f5;
	font-size: 3rem;
	font-weight: bold;
}
.buffer{
	height: 10rem;
}
hr{
	border-color: orange;
	border-width: 2px;
	width: 50px;
}
.btton-xl{
	font-weight: 700;
	padding: 1rem 2rem;
	border-radius: 350px;
}
.btn{
	background-color: orange;
	border-color: orange;
}
.btn:hover{
	background-color: #ee4b08;
	border-color: #ee4b08 ;
	border-width: 3px;
}